.footer-bottom {
    padding: 20px 0;
    background-color: #213254;
}
.footer-box h4 {
    color: #fff;
}
.footer-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-box p {
    color: #fff;
    font-weight: 500;
}
.footer-service li {
    margin-bottom: 4px;
}
.footer-service li a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 0;
    font-weight: 500;
    color: #fff;
}
.footer-service li a:hover {
    text-decoration: underline;
}
