.service-area {
    padding: 100px 0;
}
.section-title {
    border-left: 10px solid #e3b576;
    padding: 0 20px;
}
.section-title h2 {
    font-size: 40px;
}
.section-title h2 span {
    color: #e3b576;
}
.service-title-bar .service-title {
    height: 122px;
    background: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.service-title-bar:nth-child(1) {
    background: #faf8f8;
}
.service-title-bar:nth-child(3) {
    background: #faf8f8;
}
.service-title-bar:nth-child(5) {
    background: #faf8f8;
}
.service-title-bar:nth-child(2) {
    background: #f2eeed;
}
.service-title-bar:nth-child(4) {
    background: #f2eeed;
}
.service-title-bar:nth-child(6) {
    background: #f2eeed;
}
.service-title-bar .service-title p {
    margin-bottom: 0;
    font-size: 20px;
    color: #4b5e84;
    font-weight: 600;
}
.service-title-bar .service-title.active-bar {
    background-color: #bb9886;
}
.service-title-bar .service-title.active-bar p {
    color: #fff;
}
.service-title-bar .service-title.active-bar::before {
    position: absolute;
    right: -49px;
    top: 0;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 57px 0 65px 50px;
    border-color: transparent transparent transparent #bb9886;
    /* opacity: 0; */
}
.service-content {
    height: 100%;
}
.service-data-img {
    height: 100%;
}
.service-data-img img {
    height: 100%;
}
.service-data {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px;
    padding: 40px;
    background-color: rgba(22, 57, 103, 0.75);
}
.service-data p {
    font-size: 18px;
    line-height: 1.6em;
}
.service-data a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #e3b576;
    font-weight: 500;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid #e3b576;
    border-radius: 4px;
    margin-right: 10px;
}
.service-data a:hover {
    color: #e3b576;
}

@media screen and (max-width: 768px) {
    .service-area {
        padding: 70px 0;
    }
    .section-title {
        border: none;
        text-align: center;
    }

    .section-title h2 {
        font-size: 30px;
    }
    .section-info-text p {
        text-align: center;
    }
    .service-data {
        margin: 16px;
        padding: 16px;
    }
    .service-data p {
        font-size: 15px;
        line-height: 1.4em;
    }
    .service-data a {
        padding: 8px 14px;
    }

    .service-title-bar .service-title.active-bar::before {
        border-width: 0px 0 0px 00px;
    }
}
